body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.428571429;
	margin: 0;
}

* {
	-webkit-box-sizing: border-box; /* Chrome, Safari */
	-moz-box-sizing: border-box; /* Firefox */
	box-sizing: border-box;
}

.checkbox {
	display: none;
}

.checkbox-text {
	position: relative;
	padding-left: 23px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 15px;
		height: 15px;
		content: "";
		border: 1px solid #999;
		border-radius: 4px;
	}
}
.checkbox:checked + .checkbox-text::after {
	position: absolute;
	top: -5px;
	left: 5px;
	display: block;
	width: 7px;
	height: 14px;
	content: "";
	transform: rotate(40deg);
	border-right: 4px solid #415aff;
	border-bottom: 4px solid #415aff;
}

/* リンク設定 */
a:link {
	color: #2187ff;
	text-decoration: none;
}
a:visited {
	color: #875bff;
	text-decoration: none;
}
a:hover {
	color: #3552e8;
	text-decoration: underline;
}
a:active {
	color: #3552e8;
	text-decoration: underline;
}

// /*スクロールバー全体*/
// ::-webkit-scrollbar {
// 	width: 10px;
// }

// /*スクロールバーの軌道*/
// ::-webkit-scrollbar-track {
// 	border-radius: 10px;
// 	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
// }

// /*スクロールバーの動く部分*/
// ::-webkit-scrollbar-thumb {
// 	background-color: rgba(0, 0, 50, 0.5);
// 	border-radius: 10px;
// 	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
// }

input {
	font-size: 0.9em;
	display: block;
	width: 100%;
	padding: 6px 10px;
	resize: none;
	-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	border: solid 1px #ccc;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
input[type="color"] {
	padding: 0;
	-webkit-appearance: none;
	border: none;
	vertical-align: -7.5px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
	border: solid 1px #ccc;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
input[type="color"]::-webkit-color-swatch {
	border: solid 1px #ccc;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
input[type="range"]{
	padding: 0;
	-webkit-appearance: none;
	border: none;
	background-color: #b2b2b2;
	height: 7.5px;
	padding: 0 -10px;
}
input.inline {
	display: inline-block;
	width: auto;
}
input.inline[type="color"] {
	width: 100px;
	height: 30px;
}

.panel {
	margin: 30px;
}

.panel .panel-header {
	padding: 10px;
	border: 2px solid rgb(124, 124, 124);
	border-bottom: 0.5px solid rgb(124, 124, 124);
	border-radius: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color: rgb(240, 240, 240);
}

.panel .panel-content {
	padding: 10px;
	border: 2px solid rgb(124, 124, 124);
	border-top: none;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.submit {
	text-align: center;
	font-size: 1.25rem;
}

.btn {
	/* border: 1px solid #FFF; */
	display: block;
	font-size: 1.1em;
	width: 100%;
	margin: 20px 0;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: rgb(0, 107, 254);
	color: #fff;
	user-select: none;
	vertical-align: middle;
	border: none;
}

.btn:active {
	background-color: rgb(5, 86, 198);
	color: #fff;
	text-decoration: none;
}
.btn:hover {
	color: #cccccc;
	text-decoration: none;
}

.btn.inline {
	width: auto;
	display: inline-block;
	margin: 0;
	padding: 3px 1rem;
	font-size: 1rem;
	border-radius: 2.5px;
}

img {
	border: 1px solid #000;
	image-rendering: pixelated;
	width: 100%;
	height: 100%;
	/* zoom: 25; */
}

hr {
	border: 0;
	border-top: 1px solid #e3e3e3;
}

footer {
}

.copyright {
	text-align: center;
	color: #929292;
	font-size: 14px;
}

.select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	border: 1px solid #7c7c7c;
	border-radius: 5px;
	margin: 0;
	padding: 2px 5px;
	outline: 0;
	background: none transparent;
	vertical-align: middle;
	font-size: inherit;
	color: inherit;
	box-sizing: content-box;
}

.dialog-count-popup {
	&.show {
		transform: translateY(0);
	}
	&.closing {
		transform: translateY(-150%);
	}
	position: absolute;
	top: 10px;
	left: 10px;
	display: inline-block;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	padding: 7px 15px;
	margin: 5px;
	border: 1px solid rgb(39, 39, 39);
	text-align: center;
	border-radius: 10px;
	transition: ease 250ms transform;
	transform: translateY(-150%);
	z-index: 20000;
	font-size: 1rem;
	// user-select: auto;
	filter: drop-shadow(0 0 2.5px rgba(255, 255, 255, 0.6));
	&.dark {
		background-color: rgb(7, 7, 23);
		border: 1px solid rgb(36, 36, 36);
		color: rgb(241, 241, 241);
	}
}

.dialog-wrapper {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: ease 200ms opacity;
	user-select: none;
	z-index: 10000;
	&.show {
		opacity: 1;
		pointer-events: all;
		.dialog {
			transform: scale(1);
		}
	}
	&.closing {
		opacity: 0;
		pointer-events: none;
		.dialog {
			transform: scale(0.8);
		}
	}
	.dialog {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		min-width: 30vw;
		max-width: 90vw;
		padding: 15px 50px;
		margin: 10px;
		border: 1px solid rgb(39, 39, 39);
		text-align: center;
		border-radius: 10px;
		flex-direction: column;
		transform: scale(1.2);
		transition: ease 250ms transform;
		// user-select: auto;
		filter: drop-shadow(0 0 2.5px rgba(255, 255, 255, 0.6));
		&.dark {
			background-color: rgb(7, 7, 23);
			border: 1px solid rgb(36, 36, 36);
			color: rgb(241, 241, 241);
			::-webkit-scrollbar-track {
				border-radius: 10px;
				box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1);
			}
			::-webkit-scrollbar-thumb {
				background-color: rgba(255, 255, 255, 0.4);
				border-radius: 10px;
				box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
				opacity: 0.25;
				&:hover {
					background-color: rgba(255, 255, 255, 0.5);
				}
				&:active {
					background-color: rgba(255, 255, 255, 0.7);
				}
			}
		}
		::-webkit-scrollbar {
			width: 7.5px;
		}
		::-webkit-scrollbar-track {
			border-radius: 10px;
			box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
		}
		::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 50, 0.2);
			border-radius: 10px;
			box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
			opacity: 0.25;
			&:hover {
				background-color: rgba(0, 0, 50, 0.5);
			}
			&:active {
				background-color: rgba(0, 0, 50, 0.747);
			}
		}
		.title {
			font-weight: bold;
			font-size: 1.5rem;
			@media screen and (max-width: 639px) {
				font-size: 1.2rem;
			}
		}
		.icon {
			font-size: 2rem;
		}
		.txt {
			font-size: 1.1rem;
			@media screen and (max-width: 639px) {
				font-size: 1rem;
			}
			user-select: text;
			// border-bottom: 1px solid #000;
		}
		.button {
			margin-top: 10px;
			font-size: 0.8rem;
			background-color: #006eff;
			color: #fff;
			border-radius: 10px;
			padding: 10px 50px;
			user-select: none;
			cursor: pointer;
			&:hover {
				background-color: #4294ff;
			}
			&:active {
				background-color: #004196;
			}
		}
	}
}

.interface {
	margin: 5px 0;
	display: flex;
	flex-direction: row;
}

.interface > section {
	margin: 0;
	margin-right: 20px;
}

.interface > section section:first-child {
	margin-top: 0;
}

.interface > section section:last-child {
	margin-bottom: 0;
}

.input-area {
	flex: 1;
}

.preview {
	width: 20vw;
	display: flex;
	flex-direction: column;
}

.background {
	flex-grow: 1;
	background: linear-gradient(45deg, #a9a9a9 25%, transparent 25%, transparent 75%, #a9a9a9 75%),
		linear-gradient(45deg, #a9a9a9 25%, transparent 25%, transparent 75%, #a9a9a9 75%);
	background-color: #696969;
	background-size: 40px 40px;
	background-position: 0 0, 20px 20px;
}

.draw-area {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.resolution {
	background-color: #0000007f;
	color: #FFF;
	padding: 2px 10px;
}